html{
    width: 100%;
    height: 1080px;
}
#calculator{
    width: 400px;
    height: 570px;
    padding: 25px;
    position: absolute;
    left: 30%;
    top: 100px;
    box-shadow: 1px 1px 20px #555;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(208,208,208,1) 38%, rgba(174,175,174,1) 71%);
}
.screen1{
    height: 80px;
    width: 400px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(208,208,208,1) 38%, rgba(126,126,126,1) 89%);
    border: solid grey;
}
.screen{
    position: absolute;
    margin-top: 5px;
    left: 33px;
    height: 70px;
    width: 390px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(224,244,189,1) 4%, rgba(240,255,213,1) 38%, rgba(224,244,189,1) 71%);
}

.ligne{
    margin-top: 20px;
}
p{
    font-size: 40px;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}
button:focus{
    outline: none;
    transform: scale(0.9);
}
.key{
    height: 60px;
    width: 80px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 10px #555;
    border: none;
}
.key1{
    position: absolute;
    height: 140px;
    width: 80px;
    top: 450px;
    left: 340px;
    border-radius: 15px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 10px #555;
    border: none;
}
.key2{
    height: 60px;
    width: 180px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 10px #555;
    border: none;
}
.key4{
    height: 60px;
    width: 80px;
    border-radius: 15px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 10px #555;
    border: none;
}
